# Ignore virtual environment
venv/
etsy-order-getter

# Ignore Python bytecode
__pycache__/

# Ignore system files
.DS_Store

# Ignore everything in labels folder
labels/*
!.gitkeep

# Ignore the environment variables
.env

# Ignore everything in cert folder
cert/*
!.gitkeep

# Ignore everything in cert folder
orders/*
!.gitkeep

# Ignore file locks
.~lock.*